* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center; /*align all the items in the header*/
}

.logo-container {
  flex: 1;
  align-items: center;
}

.logo {
  margin: 5%;
}

#logo-img {
  width: 10%;
}

.cart {
  flex: 1;
  justify-content: flex-end;
}

#cart-img {
  width: 8%;
}

nav {
  flex: 2;
}

.logo-container,
.nav-links,
.cart {
  display: flex;
}

.nav-links {
  justify-content: space-evenly; /*Items will have equal space around them	
*/
  list-style: none; /*Remove the bullets of the lists*/
}

.nav-link {
  color: rgb(27, 29, 27); /*Change the default color of the anchor text*/
  font-size: 16px;
  text-decoration: none; /*to remove the underlines for anchors (lists)*/
}

.presentation {
  display: flex;
  width: 80%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
}
p{
  width: 70%;
  text-align: justify;

}
