* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center; /*align all the items in the header*/
}

.logo-container {
  flex: 1;
  align-items: center;
}

.logo {
  margin: 5%;
}

#logo-img {
  width: 10%;
}

.cart {
  flex: 1;
  justify-content: flex-end;
}

#cart-img {
  width: 8%;
}

nav {
  flex: 2;
}

.logo-container,
.nav-links,
.cart {
  display: flex;
}

.nav-links {
  justify-content: space-evenly; /*Items will have equal space around them	
*/
  list-style: none; /*Remove the bullets of the lists*/
}

.nav-link {
  color: rgb(27, 29, 27); /*Change the default color of the anchor text*/
  font-size: 16px;
  text-decoration: none; /*to remove the underlines for anchors (lists)*/
}

.presentation {
  display: flex;
  width: 80%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
}
.introduction {
  flex: 1;
}
* .intro-text h2 {
  font-size: 45px;
  font-weight: 500;
  background: linear-gradient(to right, rgb(0, 85, 128), rgb(0, 96, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro-text p {
  margin-top: 5px;
  font-size: 22px;
  color: #585772;
}
.cta {
  padding: 50px 0px 0px 0px;
}
.cta-select {
  border: 2px solid rgb(255, 128, 213);
  background: transparent;
  color: rgb(255, 128, 213);
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
}
.cta-add {
  background-color: rgb(255, 128, 213);
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  border: none;
  margin: 30px 0px 0px 30px;
}
.cover {
  flex: 1;
}
p {
  width: 80%;
  text-align: justify;
}
.cover img {
  width: 85%;
  filter: drop-shadow(0px 5px 3px black); /*Add shadow to the cover image*/
}
.big-circle {
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: -1;
  opacity: 0.5;
}
.mid-circle {
  position: absolute;
  top: 30%;
  right: 30%;
  z-index: -1;
  height: 60%;
  opacity: 0.4;
}
.small-circle {
  position: absolute;
  bottom: 0;
  left: 20%;
  z-index: -1;
}

@media screen and (max-width: 1024px) {
  .presentation {
    flex-direction: column;
  }
  .introduction {
    margin-top: 5vh;
    text-align: center;
  }
  .intro-text h2 {
    font-size: 30px;
  }
  .intro-text p {
    font-size: 10px;
  }
  .cta {
    padding: 10px 0px 0px 0px;
  }
}
